<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow p-4 w-100" style="max-width: 450px;">

    <h3 class="text-center mb-4">Forgot Password</h3>

    @if (message()) {
      <div class="alert alert-info text-center">
        {{ message() }}
      </div>
    }

    @if (step() === 1) {
      <form [formGroup]="emailForm" (ngSubmit)="sendOtp()">

        <div class="mb-3">
          <label>Email</label>
          <input type="email" class="form-control"
            formControlName="email"
            placeholder="Enter your email">
        </div>

        <button class="btn btn-primary w-100"
          [disabled]="loading()">
          @if (loading()) { Sending... } @else { Send OTP }
        </button>

      </form>
    }

    @if (step() === 2) {
      <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">

        <div class="mb-3">
          <label>Enter OTP</label>
          <input type="text" class="form-control"
            formControlName="otp"
            placeholder="6 digit OTP">
        </div>

        <button class="btn btn-success w-100"
          [disabled]="loading()">
          @if (loading()) { Verifying... } @else { Verify OTP }
        </button>

      </form>
    }

    @if (step() === 3) {
      <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">

        <div class="mb-3">
          <label>New Password</label>
          <input type="password" class="form-control"
            formControlName="newPassword">
        </div>

        <div class="mb-3">
          <label>Confirm Password</label>
          <input type="password" class="form-control"
            formControlName="confirmPassword">
        </div>

        <button class="btn btn-dark w-100"
          [disabled]="loading()">
          @if (loading()) { Updating... } @else { Reset Password }
        </button>

      </form>
    }

  </div>
</div>


<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div #successToast class="toast align-items-center text-bg-success border-0" role="alert">
    <div class="d-flex">
      <div class="toast-body">
        Password changed successfully! Redirecting to login...
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"></button>
    </div>
  </div>
</div>