<div #editModalRef class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Edit Enquiry</h5>
        <button type="button" class="btn-close btn-close-white" (click)="close()">
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form">

          <div class="row g-3">

            <div class="col-md-6">
              <label>Title</label>
              <input type="text" class="form-control" formControlName="title">
            </div>

            <div class="col-md-6">
              <label>Customer Name</label>
              <input type="text" class="form-control" formControlName="customerName">
            </div>

            <div class="col-12">
              <label>Message</label>
              <textarea class="form-control" formControlName="message"></textarea>
            </div>

            <div class="col-md-6">
              <label>Email</label>
              <input type="email" class="form-control" formControlName="customerEmail">
            </div>

            <div class="col-md-6">
              <label>Phone</label>
              <input type="text" class="form-control" formControlName="customerPhone">
            </div>

            <div class="col-md-6">
              <label>Follow Up Date</label>
              <input type="date" class="form-control" formControlName="followUpDate">
            </div>

            <div class="col-md-6">
              <label>Status</label>
              <select class="form-select" formControlName="statusId">
                <option [ngValue]="null">Select status</option>

                @for (s of statuses; track s.id) {
                <option [ngValue]="s.id">{{ s.name }}</option>
                }
              </select>
            </div>

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="close()">Cancel</button>
        <button class="btn btn-primary" (click)="update()">Update</button>
      </div>

    </div>
  </div>
</div>